[Desktop Entry]
Version=1.1
Type=Application
Name=Disney+
Comment=Unofficial Disney+ desktop application
Icon=disneyplus
Exec=disneyplus
Actions=
Categories=AudioVideo;Video;
GenericName=Unofficial Disney+ desktop application
