[Desktop Entry]
Version=1.0
Type=Application
Name=Star+
Comment=Unofficial Star+ desktop application
Icon=disneyplus
Exec=disneyplus
Actions=
Categories=AudioVideo;Video;
StartupWMClass=starplus
